{% extends 'main.html' %} 
{% block content %} 

<div class="container mt-5">
  <div class="row justify-content-center">
    {% for details in most_active_data %}
      <div class="col-md-4 mb-3">
        <div class="">
          <div class="text-white text-center">
            <h5 class="">{{ details.title }}</h5>
            <p class="">Price:💲<strong class="text-success">{{ details.price }}</strong> </p>
            <a href="{% url 'detalle_accion' symbol=details.title %}" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-6 mt-5">
			<form method="POST">
				{% csrf_token %}
				<div class="input-group mb-3">
					<input
						type="text"
						class="form-control"
						name="symbol"
						placeholder="Ingrese el símbolo de la acción ejemplo: TSLA"
					/>
					<button class="btn btn-primary" type="submit">
						Buscar
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% if details %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-6 mt-5">
			<div class="card">
				<div class="card-header text-white bg-primary">
					<h5>{{ details.name }}</h5>
				</div>
				<div class="card-body text-white">
					<p>Price:💲<strong class="text-success">{{ details.price }}</strong> </p>
          <p>Country: {{ details.country }} </p>
          <p>Capitalizacion de mercado: {{ details.marketCap }} </p>
					<hr />
					<a
						href="{% url 'detalle_accion' symbol=details.symbol %}"
						class="btn btn-primary"
						>Ver más</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %} {% endblock content %}
