{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand d-flex text-center" href="#">
      <img src="{% static 'img/logo-samantha.svg' %}" alt="Samantha Market" >
      Samantha Market
    </a>
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav ml-auto mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'activos' %}">Activos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trading</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contáctanos</a>
        </li>
      </ul>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
    </form>
    <a class="navbar-brand d-flex text-center me-5" href="#">
      <img class="profile" src="{% static 'img/avatar.svg' %}" alt="Samantha Market" >
    </a>
  </nav>
  