:root {
  --color-main: #71c6dd;
  --color-main-light: #e1f6fb;
  --color-dark: #262425;
  --color-dark-medium: #3e3a3c;
  --color-dark-light: #696d97;
  --color-light: #e5e5e5;
  --color-gray: #8b8b8b;
  --color-light-gray: #b2bdbd;
  --color-bg: #373636;
  --color-success: #5dd693;
  --color-error: #fc4b0b;
}


body {
    background-color: var(--color-dark);
    overflow-x: hidden;
    color: #fff;
  }

img{
  height: 30px;
  width: auto;
}
  

/* navbar */



  .navbar {
    background-color: var(--color-bg);
    color: white;
  }

  .navbar-brand {
    color: #fff;
    font-weight: bold;
  }

.nav-link{
  color: white;
}

.nav-link:hover{
    color: var(--color-error);
}

  .form-control {
    border-color: var(--color-dark-light);
    background-color: #555;
    color: #fff;
  }

.profile{
  margin-left: 10px;
}


  /* activos */

  /* Card */
/* .btn{
} */

  .card{
    background-color: var(--color-bg);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .card:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--color-dark);
  }

.card-subtitle{
  color: rgb(108, 92, 214);
}

.card-footer{
  background-color: rgba(0, 0, 0, 0.1);
}

/* form */
.form__group {
  margin-bottom: 2rem;
  width: 100%;
}

.form__split {
  display: flex;
  gap: 1.5rem;
}

.form__group label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form__group input,
.form__group textarea,
.form__group select {
  background: transparent;
  border: 1px solid var(--color-dark-light);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  font-weight: 500;
  outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--color-main);
}

.form__group textarea {
  background: transparent;
  height: 10rem;
  resize: none;
}

.form__group select {
  color: var(--color-gray);
  font-weight: 400;
}

.form__group select option {
  background-color: var(--color-dark-light);
  color: var(--color-light);
  padding: 0 10rem;
}

.form__action {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.form__hide {
  position: absolute;
  left: -9999px;
}

.form__avatar label {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-main);
  cursor: pointer;
}

.form__avatar label:hover {
  text-decoration: underline;
}

